.container-nav {
    display: flex;
    justify-content: space-around;
}
.navBar {
    display: flex;
    justify-content: space-between;
}

.Nav {
    display: flex;
    list-style: none;
    margin: .5rem,
}

.pointer {
    margin: 0 2rem;
    cursor: pointer;
    transition: 1s;
}

.pointer:hover {
    font-weight: bold;
}